@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Cores */
    --color-bg: #0f0f0f;
    --color-text: #ffffff;
    --color-primary: #4A90E2;
    --color-accent: #FF6F61;
    --color-muted: #BDBDBD;
    --color-dark-gray: #2C2C2C;

     /* Tipografia */
  --font-title: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;

    /* Espaçamentos */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
}

* {
  margin: 0%;
  padding: 0%;
  background-color: var(--color-dark-gray);
}

/* Header */

nav {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 10px;
}

div a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: var(--color-text);
}

.nav_links {
  font-display: flex;
  margin: 0 0 0 20px;
}

/* Main */

section {
  margin: 30px;
}

.banner {
  display: flex;
  justify-content: space-between;
}

.banner div h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: var(--color-text);
}

.banner_buttons {
  padding: 20px 0 0 0;
}

.banner div a {
  margin: 0 10px 0 0;
  padding: 10px;
  background-color: var(--color-primary);
  border-radius: 10px;
}